<!doctype html>
<html lang="<%= htmlWebpackPlugin.options.lang %>">
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <!-- 设置IE兼容性 -->
    <meta charset="UTF-8" />
    <!-- 设置字符编码为UTF-8 -->
    <meta name="format-detection" content="telephone=no" />
    <!-- 禁用电话格式检测 -->
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <!-- 启用DNS预取 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <!-- 设置视口 -->
    <link rel="dns-prefetch" href="//*.com" />
    <!-- DNS预取 -->
    <script
      typet="text/javascript"
      src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"
    ></script>
    
  </head>

  <body>
    <div id="emp-root"></div>
    <!-- 页面根元素 -->
    <script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
    <!-- 引入微信登录JS -->
  </body>
</html>
